* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

header {
    background: #00A8F4;
    padding: 10px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.logotext {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.poweredby {
    display: flex;
    align-items: center;
}

.poweredby img {
    height: 20px;
    width: auto;
    display: block;
    margin-left: 5px;
}

.container {
    width: 450px;
}

main {
    padding: 0 10px;
}

.match-box {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.match-box:last-child {
    border: none;
}

.match-header {
    display: flex;
    justify-content: space-between;
}

.match-link a {
    color: rgb(108,109,111);
    text-decoration: underline;
}

.live-text {
    line-height: 1.25rem;
    color: rgb(228, 66, 66);
    text-transform: uppercase;
    font-weight: bold;
}

.match-meta {
    color: rgb(108,109,111);
    margin-bottom: 8px;
}

.match-meta a {
    color: inherit;
    text-decoration: underline;
}

.team-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5px;
}

.team-name {
    display: flex;
    align-items: center;
}

.team-name img {
    width: 20px;
    height: 20px;
    display: block;
}

.team-name .country {
    margin-left: 5px;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(43,44,45);
}

.team-score {
    display: flex;
}

.overs {
    margin-right: 5px;
}

.runs {
    font-weight: 500;
}

.match-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-text {
    font-size: 12px;
}

#no-live-matches {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

.toggle-notification {
    display: flex;
    align-items: center;
}

.toggle-notification > span {
    margin-right: 5px;
    font-size: 12px;
}

/** Toggle switch **/

/* The switch - the box around the slider */
.switch {
    position: relative;
    width: 40px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00A8F4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00A8F4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/** Toggle switch End**/